*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: rgb(251,251,251);
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgba(170,208,229,0.3);
    height: 100px;
    align-items: center;
}

.logo{
    margin-left: 50px;
    width: 220px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin: 0 50px;
    height: 100%;
    font-family:'Roboto', sans-serif;
}

li a{
    text-decoration: none;
    border: 1px solid;
    padding: 13px;
    border-radius: 15px;
    color: #04abbb;
}

li a:hover{
    background-color: #04abbb;
    color: white;
    font-weight: 600;
    padding: 16px;
}

li:hover{
    margin-bottom: 10px;
}

main{
    margin-top: 70px;
    margin-bottom: 50px;
}

.drsen{
    width: 1000px;
    grid-column: 2;
}

.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Roboto', sans-serif;
    gap: 50px;
}

.slogan{
    font-size: 70px;
    text-align: end;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(4,171,187);
    text-transform: uppercase;
}

.p-slogan{
    text-align: end;
    color: rgba(239,102,122,255);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}

.bem-estar{
    margin-left: 5px;
    color: rgb(4,171,187);
    text-transform: uppercase;
}

.cuidando{
    color: rgba(239,102,122,255);
    text-transform: uppercase;
    font-size: 35px;
}

.bemvindo{
    color: rgb(4,171,187);
    text-transform: uppercase;
}

footer{
    text-align: center;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
}

.saudavel{
    color: rgba(239,102,122,255);
}

.cuidando-de-voce{
    color: rgb(4,171,187);
}

.form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms{
    background-color: #C5EFED;
    height: 600px;
    width: 700px;
    margin-bottom: 105px;
    border-radius: 10px;
}

.form-login{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container{
    display: grid;
    flex-direction: column;
}

.forms input{
    height: 40px;
    padding-left: 50px;
    position: relative;
    font-size: 16px;
    border: 2px solid #EF667A;
}

.icon .icon-perfil{
    width:  44px;
    position: absolute;
    top: 390px;
}

.icon-email{
    width: 40px;
}

.icon .icon-email{
    position: absolute;
    top: 460px;
}

.icon-tel{
    width: 40px;
}

.icon .icon-tel{
    position: absolute;
    top: 537px;
}

.icon-senha{
    width: 28px;
}

.icon .icon-senha{
    position: absolute;
    top: 612px;
    left: 755px;
}

.bt-submit{
    text-align: center;
    width: 100%;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #04ABBB;
    color: #04ABBB;
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}

button:hover{
    background-color: #04ABBB;
    color: white;
    transition-delay: 0ms;
}

.form-container{
    position: relative;
}

i img{
    bottom: 2px;
    left: 6px;
    position: absolute;
    width: 35px;
}

.icon-password{
    width: 30px;
    bottom: 3px;
}

.titulo-form{
    text-align: center;
    margin-top: 100px;
}

.introducao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: gray;
}

.forms{
    margin-top: 5%;
}