*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: rgb(251,251,251);
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgba(170,208,229,0.3);
    height: 100px;
    align-items: center;
}

.logo{
    margin-left: 50px;
    width: 220px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin: 0 50px;
    height: 100%;
    font-family:'Roboto', sans-serif;
}

li a{
    text-decoration: none;
    border: 1px solid;
    padding: 13px;
    border-radius: 15px;
    color: #04abbb;
}

li a:hover{
    background-color: #04abbb;
    color: white;
    font-weight: 600;
    padding: 16px;
}

li:hover{
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(49, 36, 36, 0.1);
}

.container h2 {
    margin-bottom: 20px;
}

.container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container input[type="date"],
.container input[type="tel"],
.container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilizar checkboxes e radio buttons em linha */
.container .checkbox-label,
.container .radio-label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* Estilizar seletores em linha */
.container select {
    display: inline-block;
    width: 50%;
    /* Para colocar dois seletores em uma linha */
}

.container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

/* Estilos para a mensagem de sucesso */
#sucesso-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    margin-top: 15px;
}