*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

body{
    background-color: rgb(251,251,251);
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgba(170,208,229,0.3);
    height: 100px;
    align-items: center;
}

.logo{
    margin-left: 50px;
    width: 220px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin: 0 50px;
    height: 100%;
    font-family:'Roboto', sans-serif;
}

li a{
    text-decoration: none;
    border: 1px solid;
    padding: 13px;
    border-radius: 15px;
    color: #04abbb;
}

li a:hover{
    background-color: #04abbb;
    color: white;
    font-weight: 600;
    padding: 16px;
}

li:hover{
    margin-bottom: 10px;
}

html{
    height: 100vh;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 863px;
}

.contact-info {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info h2 {
    color: #007bff; /* Cor do cabeçalho */
}

.return-link {
    margin-top: 20px; /* Espaço extra entre os dados de contato e o link de retorno */
}